{{- if .Values.grafana.enabled -}}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: grafana
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  serviceName: grafana
  selector:
    matchLabels:
      k8s-app: grafana
  template:
    metadata:
      labels:
        task: monitoring
        k8s-app: grafana
    spec:
      serviceAccountName: monitoring
      securityContext:
        fsGroup: 472
        runAsUser: 472
        runAsGroup: 472

      initContainers:
      - args:
        - mkdir -p /var/lib/grafana/ && chown -R 472:472 /var/lib/grafana
        command:
        - /bin/sh
        - -c
        image: busybox:1.31.1
        imagePullPolicy: IfNotPresent
        name: init-chown-data
        resources:
          limits:
            cpu: 50m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 10Mi
        securityContext:
          runAsUser: 0
        volumeMounts:
        - mountPath: /var
          name: grafana-storage
      containers:
      - name: grafana
        image: {{ .Values.grafana.image }}
        resources:
          {{- toYaml .Values.grafana.resources | nindent 12 }}
        ports:
        - containerPort: 3000
          name: http
        livenessProbe:
          httpGet:
            port: http
            path: /login
        readinessProbe:
          httpGet:
            port: http
            path: /login
        volumeMounts:
        - mountPath: /etc/ssl/certs
          name: ca-certificates
          readOnly: true
        - mountPath: /var
          name: grafana-storage
        - mountPath: /etc/grafana/provisioning/datasources/
          name: grafana-datasource
        - mountPath: /etc/grafana/provisioning/dashboards/
          name: grafana-dashboards
        env:
        - name: GF_SERVER_HTTP_PORT
          value: "3000"
      {{- range $key, $value := .Values.grafana.extraEnv }}
        - name: {{ $key }}
          value: "{{ $value }}"
      {{- end }}
      volumes:
      - name: ca-certificates
        hostPath:
          path: /etc/ssl/certs
      - name: grafana-datasource
        configMap:
          name: grafana-datasource-conf
      - name: grafana-dashboards
        configMap:
          name: grafana-dashboards
  volumeClaimTemplates:
  - metadata:
      name: grafana-storage
      namespace: {{ .Values.namespace }}
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ .Values.storageClass.name }}
      resources:
        requests:
          storage: {{ .Values.grafana.storage }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: grafana
  name: grafana
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.grafana.service.type }}
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    k8s-app: grafana
{{- end }}
